body {
  text-align: center;
  font-family: Open Sans, sans-serif;
  background-color: #8a71c9;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.main-hypertext {
  font-size: 60px;
}

.adaLovelace-hypertext {
  font-size: 40px;
  font-weight: 300;
  color: #2a0074;
}

.tittle-childhood {
  color: #04ff9f;
  font-size: 22px;
  font-style: italic;
}

.tittle-youth {
  color: #ff9e9e;
  font-size: 22px;
  font-style: italic;
}

.tittle-adulthood {
  color: #ffe36d;
  font-size: 22px;
  font-style: italic;
}

p {
  font-size: 20px;
  line-height: 1, 5;
}

section {
  width: 60%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

.ada-painting {
  width: 100%;
}

.ada-childhood {
  width: 100%;
}

.ada-adulthood {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.women-in-history a {
  line-height: 2;
  padding-left: 0;
  color: #99ffff;
  font-weight: 700;
}

.navigation-links {
  background-color: #ff6cb5;
  height: 40px;
  max-width: 60%;
  margin: 0 auto;
}
.navigation-links a:hover {
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
}

.navigation-links li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 80px;
}

.form-line {
  margin: 50px auto 5px;
}

form {
  margin: 0 auto;
  align-items: center;
}

div {
  margin: 10px;
  height: 15px;
}

label {
  display: inline-block;
  width: 70px;
  text-align: right;
}

button:hover {
  background-color: #051d42;
  color: white;
}
button {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  transition-duration: 0.4s;
}
